/*Info buttons*/
.pill {
    padding: 7px 10px !important;
    margin-top: 10px !important;
    margin-right: 18px !important;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    text-transform: uppercase !important;
}

.body-part-btn {
    background-color: #0000FF !important;
}

.body-part-btn:hover {
    background-color: #0000FF !important;
}

.target-muscle-btn {
    background-color: #008000 !important;
}

.target-muscle-btn:hover {
    background-color: #008000 !important;
}

.equipment-btn {
    background-color: #A52A2A !important;
}

.equipment-btn:hover {
    background-color: #A52A2A !important;
}