.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background: #FFFFFF;
    width: 75vw;
    max-width: 500px;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
    font-size: 35px;
    margin-bottom: 2rem;
}

.login-input-wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     gap: 20px;
 }

.request-error {
    margin-top: 15px;
}

.login-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-btn {
    background-color: blue !important;
    color: white !important;
    text-transform: none !important;
    height: 46px !important;
    padding: 0 20px;
    font-size: 20px !important;
    border-radius: 30px;
}

.login-btn:hover {
    background-color: dodgerblue !important;
}

.create-account-link {
    margin-bottom: 30px;
    margin-top: 1rem;
    font-size: 0.875rem; /* Text-sm */
    text-align: center;
}

.create-account-link a {
    color: #3b82f6; /* Blue-500 */
    text-decoration: none;
    font-weight: 600; /* Font-semibold */
    transition: color 0.2s;
}

.create-account-link a:hover {
    color: #2563eb; /* Blue-600 */
}