.exercise-title {
    width: 80vw;
}

.exercise-info-name {
    max-width: 68vw;
}

.exercise-img-wrapper {
    align-items: center;
    justify-content: center;
    height: 50vh;

    img  {
        max-height: 50vh;
        width: 50vh;
    }
}

.instructions-heading {
    font-weight: 600;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.instructions-list {
    padding-left: 10px;
    max-width: 80vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    counter-reset: list-number;
}

.instructions-list div:before {
    counter-increment: list-number;
    content: counter(list-number);

    margin-right: 10px;
    margin-bottom:10px;
    width:35px;
    height:35px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    font-size:16px;
    background-color:#d7385e;
    color:#fff;
    border-radius:50%;
}