.exercise-card-link {
    text-decoration: none;
}

.exercise-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    overflow: hidden;
    flex: 0 450px;
    width: 29vw;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.exercise-card-link:hover .exercise-card,
.exercise-card-link:focus .exercise-card {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1330px) {
    .exercise-card {
        width: 40vw;
    }
}

.exercise-img {
    width: 100px;
    height: 100px;
    /*border-radius: 50%;*/
    margin: 10px 15px;
}

@media (max-width: 992px) {
    .exercise-card {
        width: 80vw;
    }

    .exercise-img {
        width: 100px;
        height: 100px;
    }
}

.card-info-section {
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    flex: 1;
    flex-direction: column;
}

.exercise-name {
    display: block;
    max-width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}
