.favorite-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.favorite-button:hover {
    background-color: #0056b3;
}

.favorite-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.loading-spinner {
    color: #fff;
}