.info-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    overflow: hidden;
    flex: 0 450px;
    width: 80vw;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-avatar {
    background-color: #000;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 15px;
}

.user-info-section {
    margin: 20px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}


.user-name {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0;
}

.user-attributes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-attributes h5 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.good-bmi {
    color: #00cc00; /* Green color for good BMI */
}

.bad-bmi {
    color: #cc0000; /* Red color for bad BMI */
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.edit-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 599px) {
    .user-name {
        max-width: 40vw;
    }

    .edit-btn {
        padding: 8px 10px;
    }

    .edit-btn-text {
        display: none;
    }
}