.App {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

.fallback-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 72px;
    padding: 20px;
}

.page-tile {
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;

    h1 {
        color: #FF2625;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 50px;
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.result-not-found {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
}

.heading-level-2 {
    align-self: flex-start;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #FF2625;
}

p {
    max-width: 80vw;
    line-height: 1.6;
    font-size: 20px;
}


/* Common Flex Grid Styles */
.flex-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

@media (min-width: 992px) {
    .flex-grid {
        flex-direction: row !important;
    }
}


.browse-exercise-btn {
    margin-top: 20px !important;
    text-decoration: none !important;
    width: 200px;
    text-align: center;
    color: white !important;
    font-size: 18px !important;
    text-transform: none !important;
    border-radius: 4px !important;
}